body,*
{
  margin: 0;
  padding: 0;
}
header
{
    width: 100%;
    height: auto;
    background-color: #0d65e15d;
}
nav
{
    padding: 10px;
}
ul
{
    padding-right: 40px;
    gap: 10px;
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
}
li
{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: bold;
}
button
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#user_info
{
    display: none;
    float: right;
    background-color:  #0d65e15d;
    width: 290px;
    padding: 20px;
}
span{
    padding: 7px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#user
{
    cursor: pointer;
}
